
/.vs
/obj
/bin
/TestResults
/Xin.Common/bin
/Xin.Common/obj
/Xin.Entity/bin
/Xin.Entity/obj
/Xin.ExternalService.EC/bin
/Xin.ExternalService.EC/obj
/Xin.ExternalService.EC.Tests/obj
/Xin.ExternalService.EC.Tests/bin
/Xin.Job/obj
/Xin.Job/bin
/Xin.Job.Service/bin
/Xin.Job.Service/obj
/Xin.Repository/obj
/Xin.Repository/bin
/Xin.Repository.Test/bin
/Xin.Repository.Test/obj
/Xin.Service/bin
/Xin.Service/obj
/Xin.SignalR/bin
/Xin.SignalR/obj
/Xin.Web.Framework/bin
/Xin.Web.Framework/obj
/Xin.WebApi/obj
/Xin.WebApi/bin
/Xin.WebApi/log
/Xin.ExternalService.EC.WMSTests/obj
/Xin.ExternalService.EC.WMSTests/bin
/Xin.ExternalService.EC.WMS/bin
/Xin.ExternalService.EC.WMS/obj
/Xin.ServiceTests/bin
/Xin.ServiceTests/obj
