################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/Xin.WebApi/log
/Xin.Entity/obj/Xin.Entites.csproj.nuget.cache
/Xin.Job/obj/Xin.Job.csproj.nuget.cache
/Xin.Job.Service/obj/Xin.Job.Service.csproj.nuget.cache
/Xin.Service/obj/Xin.Service.csproj.nuget.cache
/Xin.Common/obj/Xin.Common.csproj.nuget.cache
/Xin.Repository/obj/Xin.Repository.csproj.nuget.cache
/Xin.Repository.Test/obj/Xin.Repository.Test.csproj.nuget.cache
/Xin.SignalR/obj/Xin.SignalR.csproj.nuget.cache
/obj
/bin
/Xin.Common/bin
/Xin.Common/obj
/Xin.Entity/bin
/Xin.Entity/obj
/Xin.ExternalService.EC/obj
/Xin.ExternalService.EC/bin
/Xin.ExternalService.EC.Tests/obj
/Xin.Job/bin
/Xin.Job/obj
/Xin.Job.Service/bin
/Xin.Job.Service/obj
/Xin.Repository/obj
/Xin.Repository/bin
/Xin.Repository.Test/obj
/Xin.Service/obj
/Xin.Service/bin
/Xin.SignalR/bin
/Xin.SignalR/obj
/Xin.Web.Framework/bin
/Xin.Web.Framework/obj
/Xin.WebApi/obj
/Xin.WebApi/bin
